:root {
    --mainstyle-color: #3a5b66; /* #3a5b66 */
    --mainstyle-activecolor: #5a7b86; /* #5a7b86 */
    --mainstyle-subbackcolor: #7a9ba6; /* #7a9ba6 */
}

* {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
body {
    background: white;
    
}

#maindiv {
    display: block;
    width: 80%;
    background: #ffffff;
    margin: 10px auto;
}

/* HEADER */
#header {
    background: white;
}

/* LOGO */
#logo {
    padding-top: 20px;
    color: var(--mainstyle-color); /* var(--mainstyle-color); */
    font-family: Verdana, Segoe, sans-serif;
    font-size: 2.2em;
    font-weight: bold;
}
#logo a {
        color: var(--mainstyle-color);
    }
#logo-description {
    margin-top: 5px;
    font-family: Verdana, Segoe, sans-serif;
    font-size: 1em;
}


/* MENU */
.nav {
    margin-top: 25px;
    display: block;
    float: left;
    width: 100%;
    background: var(--mainstyle-color);
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown:hover .dropdown-context {
    display: block;
}
.menuitem, .dropdown a, .dropbtn {
    display: inline-block;
    padding: 10px 25px;
    color: white;
}
.menuitem:hover, .dropdown a:hover {
    color: black;
    background: #ddd;
}
.dropdown-context {
    display: none;
    position: absolute;
}
.dropdown-context a {
        display: block;
        padding: 10px;
        background: var(--mainstyle-subbackcolor);
        width: 100px;
        color: #333;
        text-align: center;
        max-width: 100px;
    }
.dropdown-context a:hover {
            background: var(--mainstyle-activecolor);
            color: white;
        }

/* ARTICLE */
#article {
    float: left;
    width: 75%;
    margin-top: 20px;
    box-sizing: border-box;
    color: #333;
}
.noteitem-title {
    display: block;
    width: 100%;
}
.noteitem-title a {
        display: block;
        color: #333;
        padding: 5px 0px;
    }
.noteitem-aside {
    display: block;
}
.noteitem-aside a {
        color: #777;
        font-size: 0.8em;
    }
.noteitem-article {
    display: block;
    width: 100%;
    font-size: 1.2em;
    white-space:normal; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
    max-height: 125px;
    -webkit-line-clamp: 4;
    line-height: 25px;
}
.noteitem-readmore {
    display: block;
    width: 100%;
}
.noteitem-readmore a {
        display: block;
        float: right;
        width: 10%;
        text-align: center;
        padding: 5px 20px;
        background: var(--mainstyle-color);
        color: white;
        margin-right: 10px;
    }
.noteitem-readmore a:hover {
            color: black;
            background: #ddd;
            box-shadow: 2px 2px 3px black;
        }
.readmore-noteitem-article {
    text-align: justify;
    text-indent: 5%;
}
.readmore-noteitem-article * {
    font-size: 12pt;
    font-family: Verdana;
}

/* SIDEBAR */
#sidebar {
    float: left;
    box-sizing: border-box;
    border-left: 1px solid black;
    background-color: #f1f1f1;
    padding-left: 20px;
    margin-top: 20px;
    width: 25%;
}

/* FOOTER */
#footer {
    float: left;
    width: 100%;
    text-align: center;
    background: var(--mainstyle-color);
    margin-top: 40px;
}
#footer p {
        padding: 10px 0px;
        color: white;
        font-family: Verdana;
    }


/* VALIDATION */
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}
.field-validation-valid {
    display: none;
}
input.input-validation-error {
    border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
.validation-summary-errors {
    color: #b94a48;
}
.validation-summary-valid {
    display: none;
}


/* AddArticle View */
.caption {
    margin-top: 10px;
    text-align: left;
    margin-bottom: 20px;
    font-family: Verdana, Arial, sans-serif;
}
.article-load-form {
    border: 1px solid black;
    padding: 10px 15px;
    display: block;
    background: var(--mainstyle-subbackcolor);
    width: 80%;
    margin: 0px auto;
}
.article-load-label {
    text-align: left;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.8em;
}
.article-load-textbox {
    height: 20px;
    width: 100%;
    font-size: 0.8em;
    font-family: Verdana, Arial, sans-serif;
}
.article-load-textarea {
    width: 100%;
    font-size: 0.8em;
    font-family: Verdana, Arial, sans-serif;
}
.article-load-dropdown {
    font-size: 0.8em;
    font-family: Verdana, Arial, sans-serif;
}
.article-load-btn {
    border: none;
    padding: 10px 25px;
    background: var(--mainstyle-color);
    text-align: right;
    color: white;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
}

/* ReadMore.cshtml */
/* Show Full Article ("Read More" in ArticleHoldingController) */
.readmore-noteitem-article {
    padding-top: 15px;
    display: block;
    width: 100%;
    font-size: 1.2em;
    white-space: normal; /* Запрещаем перенос строк */
    line-height: 25px;
}
.commentary-section {
    display: block;
    width: 80%;
    margin: 0px auto;
    padding: 10px 15px;
}
.commentary-section-user {
    border-bottom: 1px solid #ddd;
    padding: 3px 0px;
    background: #eee;
}
.commentary-section-user .user {
    text-align: left;
    color: #777;
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
}
.commentary-section-user .date {
    float: right;
    color: #777;
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
}
.commentary-section-text {
    font-size: 0.8em;
    font-family: Verdana, sans-serif;
    padding: 2px 20px 20px 20px;
}
.comment-add-form {
    border: 1px solid #484848;
    padding: 15px;
    font-size: 1em;
    font-family: Verdana, sans-serif;
    color: #777;
    background: var(--mainstyle-subbackcolor);
}
.comment-add-form-label {
    font-size: 0.8em;
    font-family: Verdana, sans-serif;
    color: white;
}
.comment-add-form-textbox {
    font-size: 0.8em;
    font-family: Verdana, sans-serif;
}
.comment-add-form-textarea {
    font-size: 0.8em;
    font-family: Verdana, sans-serif;
    width: 100%;
    height: 100px;
    max-width: 100%;
}
.comment-add-form-submit {
    font-family: Verdana, sans-serif;
    text-align: center;
    padding: 10px 15px;
    color: white;
    background: var(--mainstyle-color);
    border: none;
    width: 120px;
    margin: 0px auto;
    display: block;
}
.comment-add-form-submit:hover {
     background: var(--mainstyle-activecolor);
     color: white;
}


/* BOOK SECTION */
/* show all Index */
.book-show {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.book-show-booksection {
    width: 100%;
    float: left;
    border-bottom: 1px solid #777;
}
.book-show-actionbutton {
    width: 100%;
    float: left;
    text-align: center;
}
.book-show-booksection-img {
    display: block;
    width: 150px;
    float: left;
    text-align: left;
    padding: 5px 5px 0px 5px;
}
.book-show-booksection-texts {
    float: left;
    width: 80%;
    margin-left: 10px;
}
.book-show-booksection-texts-title {
    padding: 10px 0px 5px 0px;
    font-size: 1.2em;
    font-weight: bold;
}
.book-show-booksection-texts-author {
    padding: 0px 0px 5px 0px;
    font-size: 1em;
    color: #333;
    font-style: italic;
}
.book-show-booksection-texts-description {
    padding: 0px 0px 10px 0px;
}
.book-show-actionbutton-btn {
    display: inline-block;
    width: 7%;
    padding: 2px 14px;
    background: var(--mainstyle-subbackcolor);
    color: white;
    margin: 5px 0px 5px 0px;
    text-align: center;
}
.book-show-actionbutton-btn:hover {
    color: black;
    background: #ddd;
}
#create-new-btn {
    float: right;
    width: auto;
    padding: 10px 16px;
    background: var(--mainstyle-color);
}
#create-new-btn:hover {
    color: black;
    background: #ddd;
}

/* Edit Book */
.form-horizontal {
    display: block;
    border: 1px solid black;
    padding: 20px 10px 20px 10px;
    background: var(--mainstyle-subbackcolor);
}
.line {
    margin-bottom: 10px;
}
.form-control {
    width: 100%;
    margin: 1px 0px 5px 0px;
}
.control-label {
    margin: 10px 0px 0px 0px;
    color: #333;
}
.form-group {
   margin: 3px 0px 5px 0px;
}
.form-group .submitbtn {
    padding: 5px 0px;
    width: 20%;
    border: none;
    display: block;
    margin: 0px auto;
    background: var(--mainstyle-color);
    color: white;
}
.form-group .submitbtn:hover {
    color: black;
    background: #ddd;
}
.dl-horizontal dt {
    color: #777;
    padding: 10px 0px 0px 0px;
}
.dl-horizontal dd {
    color: #333;
    padding: 0px 0px 10px 30px;
    text-align: justify;
}
.btn {
    border: none;
    padding: 3px 45px;
    background: var(--mainstyle-color);
    color: white;
}
.btn:hover {
    color: black;
    background: #ddd;
}
.backtolist {
    color: #777;
}
#form-textarea {
    width: 100%;
}


