@model Blog.Models.Comment

<div>
    <div class="commentary-section-user">
        <span class="user">User: @Model.User</span> 
        <span class="date">Date: @Model.Date</span>
    </div>
    <div class="commentary-section-text">
        @Model.Text
    </div>
</div>
